{% extends "main.html" %}
{% load static %}

{% block content %}      

<div class="container py-5">
    <div id="banner" class="d-flex flex-column align-items-center p-2 mt-5">
        <div class="d-flex align-items-center justify-content-center">
            <div>
                <h1 class="p-2">Manage your deadlines!</h1>
                <p class="p-2">Become more productive! <br>Achieve your goals by creating your own schedule!</p>
            </div>
            <img class="p-2" src="{% static 'banner.png' %}">
        </div>
        <a href="{% url 'all_tasks' %}" id="start_work" class="my-4 bg-primary py-2 px-5 text-light">Start Work!</a>
    </div>
</div>

<style>
    #banner {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
    #start_work {
        border-radius: 20px;
        transition: all ease-in-out 0.4s;
        cursor: pointer;
    }
    #start_work:hover {
        transform: scale(1.07);
        background-color: #007bff!important;
        color: #f8f9fa!important;
    }
</style>
{% endblock %}